@media screen and (min-width: 320px){
    .article__content-title h3 {
        font-size: 24px;
        line-height: 28px;
        color: #212121;
        margin-bottom: 0;
    }
    .article__content-date {
        margin-bottom: 15px;
    }
    .article__content-date span {
        font-size: 12px;
        line-height: 20px;
        color: #6C6C75;
    }
    .article__content-text {
        margin-bottom: 22px;
        font-family: 'Ubuntu-L', sans-serif;
    }
    .article__content-text p {
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        color: #212121;
    }
    .article__item {
        background: #F4EFE6;
        border-radius: 10px;
        padding: 10px 10px 20px 10px;
    }
    .article__item:not(:last-child) {
        margin-bottom: 15px;
    }

    .article__item-img {
        margin-bottom: 10px;
    }
    .article__item-img img {
        width: 100%;
        max-height: 210px;
    }
}
@media screen and (min-width: 480px){
    .article__item-img img {
        width: 100%;
        max-height: 310px;
    }
}

@media screen and (min-width: 767px){
    .article__item-img img {
        width: 100%;
        max-height: 410px;
    }
}
@media screen and (min-width: 1200px){
    .article__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 10px;
    }
    .article__item-img {
        margin-bottom: 0;

    }
    .article__item-img img {
        max-height: 210px;
    }
    .article__item-content {
        max-width: 550px;
        margin-left: 20px;
    }

    .article__item:nth-child(2n) {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .article__item:nth-child(2n) .article__item-img {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
    }
    .article__item:not(:last-child) {
        margin-bottom: 20px;
    }

}