/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@media screen and (min-width: 320px) {
    .basket-tabs {
        border: 1px solid #EFEFEF;
        border-radius: 10px;
    }
    .basket-tabs .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
        width: 100%;
    }
    .basket-tabs .cs-select {
        width: 100%;
    }
    .basket-tabs .select-basket {
        border-radius: 10px;
        -webkit-box-shadow: 0px 8px 30px -13px rgba(34, 60, 80, 0.46);
        box-shadow: 0px 8px 30px -13px rgba(34, 60, 80, 0.46);
    }
    .basket-tabs .wrp__select {
        margin-bottom: 0;
    }
    .basket-tabs .cs-select .dropdown-toggle {
        background-color: white;
        border: none;
    }
    .basket-tabs .cs-select .dropdown-toggle::after {
        margin-top: 10px;
        content: url("../../www/images/catalog/icon/arrow-nav-big.svg");
        -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
    .basket-tabs .cs-select .dropdown-toggle::before {
        content: url("../../www/images/icons/burger-icon.svg");
    }
    .basket-tabs .cs-select .btn {
        padding: 8px 24px;
        border-radius: 10px;
    }
    .basket-tabs .filter-option-inner-inner {
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #212121;
    }
    .basket-tabs .cs-select .bootstrap-select .dropdown-toggle:focus, .bootstrap-select>select.mobile-device:focus+.dropdown-toggle {
        outline: none!important;
    }
    .basket-tabs .price-list__btn {
        margin: 0 auto;
    }
    .basket-tabs .active-tab .tab-content {
        padding: 0;
    }
    .basket-tabs .active-tab .price-list {
        padding: 1.25rem;
    }
    .basket-tabs .tab-content .card-table__link li {
        width: 65px;
    }
    .basket-tabs .tab-content .card-table__link li:first-child {
        height: 52px;
    }
    .basket-tabs .tab-content .card-table__link li:not(:first-child) {
        height: 68px;
    }
    .basket-tabs .tab-content .card-table__link-head {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #FFFFFF;
        padding: 12px;
    }
    .basket-tabs .card-table table tbody td {
        padding: 10px;
    }
    .basket-tabs .card-table .counter {
        margin: 0;
        background-color: #FFFFFF;
    }
    .wrp__delete {
        width: 15px;
        height: 15px;
        border: 2px solid #DCDCDC;
        border-radius: 3px;
        background-color: #FFFFFF;
        cursor: pointer;
        padding: 1px;
    }
    .wrp__delete:hover {
        border-color: #D2A060;
    }
    .delete-product {
        display: none;
        width: 9px;
        height: 9px;
        background: #D2A060;
        border-radius: 2px;
    }
    /* Удаление товара типа чексбокс */
    .del .delete-product {
        display: block;
    }
    .basket-total {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: .5rem .75rem 1.9rem .75rem;
        background: #F4EFE6;
    }
    .basket-total__title {
        margin-bottom: 1.6rem;
    }
    .basket-total__title h3 {
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        color: #212121;
        margin-bottom: 0;
    }
    .basket-total__desc ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .basket-total__desc ul li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 1rem;
    }
    .basket-total__desc ul li .basket-total__desc-icon {
        margin-right: 10px;
    }
    .basket-total__desc ul li .basket-total__desc-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .basket-total__desc ul li .basket-total__desc-text span {
        font-weight: 300;
        font-size: 12px;
        line-height: 22px;
        color: #212121;
    }
    .basket-total .basket-total__btn {
        max-width: 270px;
        margin: 0 auto;
    }
    .basket-total .basket-total__btn button {
        width: 100%;
        background: #48A941;
        border-radius: 4px;
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
        border: none;
        padding: 1.1rem 0;
    }
    .basket-total__desc ul li:not(:last-child) {
        margin-right: 0.8rem;
    }

    .delivery-info {
        background: #FFFFFF;
        padding: 10px;
    }
    .delivery-info-title {
        text-align: center;
        margin-bottom: .5rem;
    }
    .delivery-info-title p {
        font-size: 14px;
        line-height: 16px;
        color: #212121;
        margin-bottom: 0;
    }
    .delivery-info-price {
        margin-bottom: .5rem;
        text-align: center;
    }
    .delivery-info-price span {
        font-weight: bold;
        font-size: 22px;
        line-height: 25px;
        color: #C07E29;
    }
    .delivery-info-desc {
        text-align: center;
    }
    .delivery-info-desc span {
        font-weight: 300;
        font-size: 11px;
        line-height: 16px;
        color: #212121;
        margin-bottom: 0;
    }

}
@media screen and (min-width: 767px) {
    .basket-tabs .card-tabs__head ul {
        -webkit-box-pack: left;
        -ms-flex-pack: left;
        justify-content: left;
    }
    .basket-tabs .card-tabs__head ul li {
        margin-right: 2rem;
    }
    .basket-tabs .price-list__btn {
        margin: 0;
    }
    .basket-tabs .price-list__head {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }
    .basket-total {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: initial;
        -webkit-box-direction: initial;
        -ms-flex-direction: initial;
        flex-direction: initial;
        margin-top: .5rem;
        padding: 20px;
    }
    .basket-total .wrp__content {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }
    .basket-total .wrp-basket__delivery-info {
        -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    }
    .delivery-info {
        padding: 20px;
    }

}
@media screen and (min-width: 1200px) {
    .basket-tabs .price-list__table {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .basket-tabs .price-list__table .card-table {
        width: 100%;
    }
    .basket-tabs .tab-content .card-table__link li:not(:first-child) {
        height: 64px;
    }
    .basket-total .wrp-basket__delivery-info {
        -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
    }
    .basket-total .wrp__content {
        -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    }
    .basket-total__desc {
        margin-bottom: 1rem;
    }

}