@media screen and (min-width: 320px) {
    .card__title {
        margin-bottom: 1.5rem;
    }
    .card__title h1 {
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        color: #212121;
    }
    .card-section-top {
        margin-bottom: 2rem;
    }
    .card-prd {
        background: #F4EFE6;
        border-radius: 10px;
        padding: 10px;
        overflow: hidden;
        margin-bottom: 3.3rem;
    }
    .card-section-img {
        height: 210px;
        background: #FFFFFF;
        border-radius: 10px;
    }
    .card-section-img img {
        width: 100%;
        border-radius: 10px;
    }
    .card-section__select {
        margin-bottom: 20px;
    }
    .wrp__select {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .wrp__select span {
        font-size: 14px;
        line-height: 21px;
        color: #212121;
    }
    .card-discount {
        border: 2px dashed #E4C380;
        border-radius: 10px;
        padding: 15px;
        margin-bottom: 1.5rem;
    }
    .card-discount-title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 3px;
        padding-left: 2.5rem;
    }
    .card-discount-title img {
        margin-right: 5px;
    }
    .card-discount-title p {
        font-size: 16px;
        line-height: 18px;
        color: #212121;
        margin-bottom: 0;
    }
    .card-discount-group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .card-discount-link {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .card-discount-link span {
        font-weight: 300;
        display: inline-block;
        margin-bottom: 7px;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #212121;
    }
    .card-discount-link a {
        display: inline-block;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #C07E29;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        padding-bottom: 2px;
        border-bottom: 1px solid #C07E29;
        text-decoration: none;
    }
    .card-discount-link a:hover {
        color: #D4A569;
        border-color: #D4A569;
    }
    .card-section-bottom {
        background: #FFFFFF;
        padding: 13px 30px;
        border-radius: 10px;
    }
    .card-delivery {
        margin-bottom: 20px;
    }
    .card-delivery-link a {
        display: inline-block;
        padding-bottom: 2px;
        border-bottom: 1px solid rgba(33, 33, 33, 0.3);
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        color: #212121;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    .card-delivery-link a:hover {
        text-decoration: none;
        border-color: #D4A569;
        color: #D4A569;
    }
    .card-delivery-link:not(:last-child) {
        margin-bottom: 5px;
    }
    .card-delivery-link img {
        margin-right: 5px;
    }
    .card-section__info {
        margin-bottom: 10px;
    }
    .card-section__desc {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }
    .info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding-bottom: 10px;
    }
    .info span:first-child {
        font-weight: 300;
        font-size: 13px;
        line-height: 23px;
        color: #212121;
    }
    .info span:last-child {
        font-weight: bold;
        font-size: 22px;
        line-height: 25px;
        color: #C07E29;
    }
    .desc-info {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .desc-info:not(:last-child) {
        margin-bottom: 5px;
    }
    .desc-info span {
        font-size: 12px;
        line-height: 18px;
        color: #212121;
    }
    .desc-info span:last-child {
        font-weight: bold;
    }
    .product-avail {
        margin-bottom: 6px;
        text-align: center;
    }
    .product-avail span {
        font-family: Ubuntu-L, sans-serif;
        font-weight: bold;
        font-size: 12px;
        line-height: 18px;
        color: #48A941;
    }
    .counter {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        border: 1px solid #E9E9E9;
        border-radius: 4px;
        height: 44px;
        padding: 0 10px;
        margin-bottom: 10px;
    }
    .counter-minus, .counter-plus {
        width: 30px;
        cursor: pointer;
        text-align: center;
    }
    .counter span {
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        color: #6C6C75;
    }
    .counter-number {
        display: inline-block;
        margin-right: 4px;
    }
    .buy-btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        max-width: 210px;
        margin: 0 auto 15px auto;
        text-align: center;
        position: relative;
    }
    .buy-btn button {
        font-family: Ubuntu-L, sans-serif;
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
        color: #FFFFFF;
        border: none;
        height: 54px;
        background: #48A941;
        width: 100%;
        border-radius: 5px;
        cursor: pointer;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    .buy-btn button:hover {
        background: #2F8429;;
    }
    .buy-btn img {
        position: absolute;
        top: 17px;
        left: 45px;
    }
    .buy-one-click {
        max-width: 210px;
        margin: 0 auto;
        text-align: center;
        position: relative;
    }
    .buy-one-click button {
        font-family: Ubuntu-L, sans-serif;
        border: none;
        background: transparent;
        font-weight: bold;
        font-size: 14px;
        line-height: 18px;
        color: #C07E29;
        padding-bottom: 3px;
        border-bottom: 1px solid rgba(192, 126, 41, 0.3);
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    .buy-one-click button:hover {
        color: #D4A569;
    }
    .wrp__select {
        margin-bottom: 10px;
    }


    /* Кастомные селекты */
    .cs-select .k-select {
        width: 160px!important;
    }

    .cs-select .k-select .filter-option-inner-inner {
        font-family: Ubuntu-L, sans-serif;
        font-size: 16px;
        line-height: 18px;
        color: #6C6C75;
        max-width: 70%;
    }
    .cs-select .k-select .btn {
        border-radius: 4px!important;
        border: 1px solid #E9E9E9;
        padding: 13px 20px 13px 10px!important;
    }
    .cs-select .k-select .btn:focus {
        outline: none!important;
    }
    .cs-select .dropdown-item.active, .dropdown-item:active {
        background-color: #e6e6e6;
    }
    .cs-select .dropdown-toggle::after {
        border: 0;
        content: url("../../www/images/icons/select-arrow.svg");
    }
    .cs-select .bootstrap-select>select {
        left: 0;
    }
    .k-select {
        position: relative;
    }
    .k-select:after {
        position: absolute;
        content: '';
        width: 1px;
        height: 100%;
        right: 50px;
        background: rgba(33, 33, 33, 0.1);
    }
    /*  related-products   */
    .related-products {
        margin-bottom: 3.2rem;
    }
    .related-products__title {
        margin-bottom: 1rem;
    }
    .related-products__title h3 {
        font-size: 20px;
        line-height: 23px;
        color: #212121;
        margin-bottom: 0;
    }
    .related-products__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .related-products__li:not(:last-child) {
        margin-right: 10px;
    }
    .related-products__img {
        margin-bottom: 1rem;
        text-align: center;
        background: #FFFFFF;
        border-radius: 10px;
    }
    .related-products__img img {
        width: 100%;
    }
    .related-products__text p {
        font-size: 14px;
        line-height: 18px;
        color: #212121;
        margin-bottom: 5px;
    }
    .related-products__text p span {
        font-size: 14px;
        line-height: 18px;
        color: #212121;
        margin-bottom: 5px;
    }
    .related-products__text p:last-child {
        font-size: 12px;
    }
    .related-products__li .buy-btn {
        margin-bottom: 0;
        max-width: 105px;
    }
    .related-products__li .buy-btn img {
        left: 10%;
    }
    .related-products__text {
        margin-bottom: 10px;
    }
    .related-products__slider {
        margin-bottom: 10px;
        background: #F4EFE6;
        border-radius: 10px;
        padding: 5px 5px 20px 5px;
    }
    .related-products__slider .buy-btn button {
        height: 34px;
        font-weight: bold;
        font-size: 13px;
        line-height: 18px;
        color: #FFFFFF;
        padding-left: 20px;
    }
    .related-products__slider .buy-btn img {
        top: calc(50% - 10px)
    }
    .related-products__case .slider-prev {
        top: -37px;
        left: 78%;
    }
    .related-products__case .slider-next {
        top: -37px;
        right: 7px;
    }

    /*  recommend__title  */
    .recommend__title {
        margin-bottom: 1rem;
    }
    .recommend__title h3 {
        font-size: 20px;
        line-height: 23px;
        color: #212121;
        margin-bottom: 0;
    }
    .recommend__case {
        background: #F4EFE6;
        border-radius: 10px;
        padding: 20px;
    }
    .recommend__item a {
        display: inline-block;
        padding-left: 12px;
        font-size: 13px;
        line-height: 15px;
        color: #C07E29;
        position: relative;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        text-decoration: none;
    }
    .recommend__item a:hover {
        color: #D2A060;
    }
    .recommend__item a:after {
        position: absolute;
        content: '';
        width: 3px;
        height: 3px;
        background: #E4C380;
        left: 0;
        top: calc(50% - 1px)
    }

    /*  tabs-prev  */
    .tabs-prev {
        margin-bottom: 3.1rem;
    }
    .tabs-prev__item {
        padding: 20px;
        border: 1px solid #EFEFEF;
        border-radius: 10px;
    }
    .tabs-prev__item:not(:last-child) {
        margin-bottom: 20px;
    }
    .tabs-prev__title {
        margin-bottom: 12px;
    }
    .tabs-prev__title p {
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #212121;
        margin-bottom: 0;
    }
    .tabs-prev__text {
        margin-bottom: 14px;
    }
    .tabs-prev__text p {
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        color: #212121;
    }
    .tabs-prev__img img {
        width: 100%;
    }
    .tabs-prev__img .views-card-title p {
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;
        color: #212121;
        margin-bottom: 12px;
    }
    .tabs-prev__content {
        position: relative;
        margin-bottom: 20px;
    }
    .tabs-prev__content:after {
        position: absolute;
        content: url("../../www/images/icons/card-prev-after.png");
        bottom: -7px;
        left: 0;
        width: 100%;
    }
    /* price-list   */
    .price-list__head {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .price-list__details-det .card-table__link li {
        border-bottom: none;
    }
    .price-list__details-det .card-table__link li:first-child {
        border-top: none;
    }
    .price-list__head .tab-content-title {
        margin-bottom: 0;
    }
    .price-list__table {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .price-list__table .card-table {
        margin-bottom: 0;
    }
    .card-table__link a {
        font-family: Ubuntu-N, sans-serif;
        font-weight: bold;
        font-size: 14px;
        line-height: 13px;
        color: #C07E29;
        text-decoration: none;
        transition: all 0.3s;
    }
    .card-table__link a:hover {
        color: #D2A060;
    }
    .card-table__link li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 165px;
        position: relative;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #212121;
    }
    .card-table__link li {
        -webkit-box-shadow: -4px 0px 5px -2px rgba(34, 60, 80, 0.2);
        box-shadow: -4px 0px 5px -2px rgba(34, 60, 80, 0.2);
    }
    .card-table__link li:not(:first-child) {
        height: 40px;
    }
    .card-table__link li:first-child {
        height: 80px;
        background: #C07E29;
    }
    .card-table__link li:first-child a {
        color: white;
    }
    .card-table__link li:nth-child(even) {
        background: #F4EFE6;
    }
    .tabs-prev__item .card-table__link li {
        width: 74px;
    }

}
@media screen and (min-width: 767px) {
    .card__title h1 {
        font-size: 36px;
        line-height: 41px;
    }
    .card-section-img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        height: 310px;
    }
    .card-section-img img {
        width: 328px;
        max-height: 177px;
    }
    .card-section-top, .card-section-middle {
        margin-bottom: 1.5rem;
    }
    .card-section__select {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0 1rem;
    }
    .wrp__select {
        -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    }
    .wrp__select span {
        font-size: 18px;
        line-height: 21px;
    }
    .wrp__select {
        margin-bottom: 14px;
    }
    .card-section__group {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0 1rem;
    }
    .card-discount, .card-delivery {
        margin-bottom: 0;
    }
    .card-discount {
        margin-right: 2rem;
    }
    .card-section-bottom {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 20px;
    }
    .card-section__info {
        margin-bottom: 0;
    }
    .card-section__info, .wrp__card-section__btn {
        width: 30%;
    }
    .info--bottom {
        position: relative;
    }
    .info--bottom:after {
        height: 100%;
        width: 1px;
        content: '';
        position: absolute;
        right: -15px;
        top: 0;
        background: #EFEFEF;
    }
    .info--bottom:before {
        height: 100%;
        width: 1px;
        content: '';
        position: absolute;
        left: -15px;
        top: 0;
        background: #EFEFEF;
    }
    .cs-select .k-select {
        width: 180px!important;
    }
    .card-discount-link:first-child {
        margin-right: 1rem;
    }
    .card-discount {
        padding: 1rem 2rem;
    }

    /* related-products */
    .related-products__title {
        margin-bottom: 26px;
    }
    .related-products__title h3 {
        font-size: 24px;
        line-height: 28px;
    }
    .related-products__li {
        padding-right: 10px;
    }
    .related-products__img img {
        width: 100%;
        max-height: 170px;
    }
    .related-products__slider {
        margin-bottom: 20px;
        padding: 10px 10px 20px 10px;
    }
    .related-products__li .buy-btn {
        margin: 0;
        padding-left: 10px;
    }
    .related-products__li .buy-btn img {
        left: 18%;
    }
    .buy-btn button {
        padding-left: 25px;
    }
    .related-products__text {
        padding: 0 10px;
    }
    .related-products__case .slider-next {
        top: -60px;
        right: 11px;
    }
    .related-products__case .slider-prev {
        top: -58px;
        left: 82%;
    }

    .recommend__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    /*  card-tabs  */
    .card-tabs {
        border: 1px solid #EFEFEF;
        border-radius: 10px;
        margin-bottom: 3.1rem;
        overflow: hidden;
    }
    .card-tabs__head {
        border-bottom: 1px solid #EFEFEF;
        padding: 0 30px;
    }
    .card-tabs__head ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .card-tabs__head li {
        padding: 18px 0;
        cursor: pointer;
    }
    .card-tabs__head li span {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #B0B0B0;
    }
    .tab-content {
        opacity: 0;
        height: 0;
    }
    .active-tab .tab-content {
        opacity: 1;
        height: 100%;
        padding: 1.5rem 1.9rem;
        position: relative;
        z-index: 5;
    }
    .card-tabs__head .active {
        border-bottom: 2px solid #E4C380;
    }
    .card-tabs__head .active span {
        color: black;
        font-weight: 600;
    }
    .tab-content-text:not(:last-child) {
        margin-bottom: 1rem;
    }
    .tab-content-text p:not(:last-child) {
        margin-bottom: 12px;
    }
    .tab-content-text p {
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        color: #212121;
        margin-bottom: 0;
    }
    .tab-content-text a {
        color: #C07E29;
        text-decoration: none;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    .tab-content-text a:hover {
        color: #D4A569;
    }
    .tab-content-title {
        margin-bottom: 12px;
    }
    .tab-content-title p {
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: #212121;
        margin-bottom: 0;
    }

    /* tab-content-list */
    .tab-content-list ul {
        padding-left: 20px;
    }
    .tab-content-list li {
        list-style: initial;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        color: #212121;
    }
    .tab-content-list li:not(:last-child) {
        margin-bottom: 5px;
    }

    .views-card ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .views-card ul li {
        -ms-flex-preferred-size: 188px;
        flex-basis: 188px;
        margin-bottom: 20px;
    }
    .views-card-img {
        position: relative;
        cursor: pointer;
    }
    .views-card-img a {
        display: inline-block;
    }
    .views-card-img a:before {
        content: url("../../www/images/icons/view-hover-img.svg");
        display: none;
        position: absolute;
        width: 100%;
        max-height: 57px;
        top: calc(50% - 27px);
        text-align: center;
    }
    .views-card-img a:after {
        content: '';
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        background: rgba(210, 160, 96, 0.3);
    }
    .views-card-img:hover a:before {
        display: block;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    .views-card-img:hover a:after {
        display: block;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    .views-card-img a img {
        width: 100%;
        max-height: 140px;
    }

    /*  variety-case  */
    .variety-case li:not(:last-child) {
        margin-bottom: 2rem;
    }

    .variety-title p {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: #212121;
    }
    .variety-img img {
        width: 90%;
    }

    /*  slider-present  */
    .slider-big {
        margin-bottom: 20px;
    }
    .slider-small {
        width: 90%;
        margin: 0 auto;
    }
    .slider-small .slider-next {
        right: -55px
    }
    .slider-small .slider-prev {
        left: -55px
    }
    .slider-small .slider__item img {
        width: 100%;
    }
    .slider-big .slider__item img {
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .card-prd {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .card-section-top {
        margin-bottom: 0;
        -ms-flex-preferred-size: 250px;
        flex-basis: 250px;
    }
    .card-section-img {
        height: 100%;
    }
    .card-section-img img {
        width: 230px;
    }
    .card-section-bottom {
        -ms-flex-preferred-size: 250px;
        flex-basis: 250px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 10px 20px;
    }
    .card-section-middle {
        -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
    }
    .card-section__group {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .card-discount {
        margin-right: 0;
        margin-bottom: 25px;
    }
    .card-section__info,.wrp__card-section__btn {
        width: 100%;
    }
    .card-section__info {
        margin-bottom: 10px;
    }
    .wrp__select {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    .card-section__select {
        margin-bottom: 10px;
    }
    .info--bottom:after {
        content: none;
    }
    .info--bottom:before {
        content: none;
    }

    /* related-products */
    .related-products__case .slider-prev {
        left: 86%;
    }
    .card-table__link li {
        box-shadow: none;
    }
    .card-table__link {
        margin-left: -2px;
    }
    .price-list .card-table table thead th:last-child:after {
        position: absolute;
        right: 0;
        top: 12px;
        content: '';
        z-index: 5;
        width: 1px;
        height: 70%;
        background: #CD9854;
    }
    .price-list .card-table table tbody td:last-child:after {
        position: absolute;
        right: 0;
        top: 10px;
        content: '';
        z-index: 5;
        width: 1px;
        height: 60%;
        background: #DFDBD2;
    }

}