/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@media screen and (min-width: 320px) {
    /* Общие стили */
    .content {
        padding: 2rem 0;
    }

    /* Хлебные крошки */
    .breadcrumbs {
        margin-bottom: 12px;
    }
    .breadcrumbs a, span {
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        color: #6C6C75;
    }

    /* Каталог */
    .catalog {
        margin-bottom: 4.6rem;
    }
    .catalog__title {
        margin-bottom: 1.5rem;
    }
    .catalog__title h1 {
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        color: #212121;
        margin-bottom: 0;
    }

    /* Навигационное меню */
    .nav-elem {
        margin-bottom: 2rem;
    }
    .nav-elem__list {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 20px;
        height: 65px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }
    .nav-elem__list:after {
        position: absolute;
        left: 0;
        bottom: 0;
        content: "";
        width: 100%;
        height: 25%;
        background: rgba(246, 236, 223, 0.6);
        z-index: 2;
    }
    .nav-elem__item a {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 10px 5px;
        background: #C07E29;
        border-radius: 5px;
        font-weight: bold;
        font-size: 12px;
        line-height: 20px;
        color: #FFFFFF;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    .nav-elem__item a:hover {
        text-decoration: none;
        background: #D2A060;
    }
    .nav-elem__link {
        max-width: 154px;
        margin: -30px auto 0 auto;
        position: relative;
        background: white;
        border-radius: 5px;
        padding: 8px 0;
        text-align: center;
        z-index: 5;
        cursor: pointer;
    }
    .nav-elem__link span {
        font-weight: bold;
        font-size: 12px;
        line-height: 20px;
        color: #C07E29;
    }
    .nav-elem__link img {
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s;
    }

    /* Раскрывашка навигации */
    .active .nav-elem__link {
        background: #F4EFE6;
    }
    .active .nav-elem__link img {
        -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
    .active .nav-elem__list {
        height: auto;
    }
    .active .nav-elem__link {
        margin: 0 auto;
    }
    .active .nav-elem__list:after {
        content: none;
    }

    /* Доставка */
    .baner-deliv {
        position: relative;
        z-index: 2;
        background: #F4EFE6;
        border-radius: 10px;
        padding: 31px 15px;
        overflow: hidden;
        margin-bottom: 10px;
    }
    .baner-deliv:after {
        position: absolute;
        z-index: 0;
        content: url("/www/images/catalog/delivery/deliv-icon.png");
        right: -30px;
        bottom: -7px;
    }
    .baner-deliv:before {
        position: absolute;
        z-index: -1;
        content: url("/www/images/catalog/coupon/before.png");
        right: 25px;
        bottom: -7px;
    }
    .baner-deliv p {
        font-size: 18px;
        line-height: 27px;
        color: #212121;
        max-width: 140px;
        margin: 0 0 2px 0;
    }
    .baner-deliv span {
        display: inline-block;
        font-weight: bold;
        font-size: 29px;
        line-height: 33px;
        color: #C07E29;
        margin-bottom: 2px;
    }

    /* Купон на скидку */
    /* Моб версия */
    .baner-coupon {
        position: relative;
        z-index: 2;
        background: #F4EFE6;
        border-radius: 10px;
        padding: 31px;
        overflow: hidden;
        margin-bottom: 3.1rem;
    }
    .baner-coupon:after {
        position: absolute;
        z-index: 0;
        content: url("/www/images/catalog/coupon/after-catalog.png");
        right: 0;
        bottom: -7px;
    }
    .baner-coupon:before {
        position: absolute;
        z-index: -1;
        content: url("/www/images/catalog/coupon/before.png");
        right: 25px;
        bottom: -7px;
    }
    .baner-coupon p {
        font-size: 18px;
        line-height: 27px;
        color: #212121;
        max-width: 140px;
        margin: 0;
    }
    .baner-coupon span {
        font-size: 24px;
        color: #48A941;
        font-weight: bold;
    }

    /* Скидка */
    .baner-sale {
        position: relative;
        z-index: 2;
        background: #F4EFE6;
        border-radius: 10px;
        padding: 34px 15px;
        overflow: hidden;
        margin-bottom: 3.1rem;
    }
    .baner-sale:after {
        position: absolute;
        z-index: 0;
        content: url("/www/images/catalog/sale/sale-01.png");
        right: 0;
        bottom: -7px;
    }
    .baner-sale:before {
        position: absolute;
        z-index: -1;
        content: url("/www/images/catalog/coupon/before.png");
        right: 25px;
        bottom: -7px;
    }
    .baner-sale p {
        font-size: 16px;
        line-height: 18px;
        color: #212121;
        max-width: 90px;
    }
    .baner-sale span {
        display: inline-block;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        color: #48A941;
    }


    /*  Рекомендованные статьи  */
    .recom-articl__title {
        margin-bottom: 1rem;
    }
    .recom-articl__title h2 {
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: #212121;
        margin-bottom: 0;
    }
    .recom-articl__item {
        position: relative;
        padding-left: 12px;
    }
    .recom-articl__item:after {
        position: absolute;
        content: '';
        width: 3px;
        height: 3px;
        background: #C07E29;
        left: 0;
        top: 12px;
    }
    .recom-articl__item a {
        font-size: 13px;
        line-height: 15px;
        color: #C07E29;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    .recom-articl__item a:hover {
        text-decoration: none;
        color: #D2A060;
    }

    /* Каталог. Карточки товара формируются на основе карточек с главной, модифицируются посредством каскадности стилей */
    .catalog__card .card-product .content {
        margin-bottom: 1.4rem;
        padding: 0;
    }
    .catalog__card .card-product .content-descript {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }
    .catalog__card .card-product .sale {
        position: static;
    }
    .catalog__card .card-product .wrp__case {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .catalog__card .card-product .case {
        padding: 10px 5px 15px 5px;
        margin-bottom: 1.5rem;
    }
    .catalog__card .card-product .case .case-item {
        height: 100%;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .catalog__card .card-product .case .wrp__case-item-img {
        margin-bottom: 20px;
    }
    .catalog__card .card-product .case .wrp__case-item-img img {
        max-width: 100%;
        max-height: 111px;
    }
    .catalog__card .card-product .case .case-item .wrp__case-item-content {
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .catalog__card .card-product .case .case-item .wrp__case-item-content .case-item-title {
        margin-bottom: 1rem;
    }
    .catalog__card .card-product .case .case-item .wrp__case-item-content .case__item-price {
        margin-bottom: 12px;
    }
    .catalog__card .card-product .case .case-item .wrp__case-item-content .case__item-price p {
        font-weight: bold;
        font-size: 13px;
        line-height: 15px;
        color: #C07E29;
        margin-bottom: 0;
    }

    /* Модификации карточек. из 2х - 3х - 6 кейсов*/
    /* Черз классы catalog-2-case catalog-3-case и т.д */

    .catalog__card .card-product .catalog-2-case .case {
        -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    }
    .catalog__card .card-product .catalog-3-case .case {
        -ms-flex-preferred-size: 125px;
        flex-basis: 125px;
    }

    /* Доп услуги. Класс add-serv модицифирует картинки */
    .catalog__card .card-product .catalog-2-case .add-serv {
        -ms-flex-preferred-size: 47.5%;
        flex-basis: 47.5%;
        padding: 0;
    }
    .catalog__card .card-product .catalog-2-case .add-serv .wrp__case-item-content {
        padding: 0 5px 15px 5px;
    }
    .catalog__card .card-product .catalog-2-case .add-serv .wrp__case-item-img img {
        margin: 0;
    }

    /* Этот класс добавляет ширины */
    .catalog__card .card-product .flex-basic-2-3 {
        padding: 10px 0 10px 10px;
        -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
    }

    /* и перестраивает блоки  */
    .catalog__card .card-product .flex-basic-2-3 .case-item {
        -webkit-box-orient: initial;
        -webkit-box-direction: initial;
        -ms-flex-direction: initial;
        flex-direction: initial;
    }
    .catalog__card .card-product .flex-basic-2-3 .case-item .wrp__case-item-content {
        -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    }
    .catalog__card .card-product .flex-basic-2-3 .case-item .wrp__case-item-img {
        margin-bottom: 0;
    }
    .catalog__card .card-product .flex-basic-2-3 .case-item .wrp__case-item-img img {
        max-height: 176px;
    }

    /*  3-3  */
    .catalog__card .card-product .flex-basic-3-3 {
        padding: 10px 0 15px 15px;
        -ms-flex-preferred-size: 100% !important;
        flex-basis: 100% !important;
    }
    .catalog__card .card-product .flex-basic-3-3 .case-item {
        -webkit-box-orient: initial;
        -webkit-box-direction: initial;
        -ms-flex-direction: initial;
        flex-direction: initial;
    }
    .catalog__card .card-product .flex-basic-3-3 .case-item .wrp__case-item-content {
        -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    }
    .catalog__card .card-product .flex-basic-3-3 .case-item .wrp__case-item-img {
        margin-bottom: 0;
    }
    .catalog__card .card-product .flex-basic-3-3 .case-item .wrp__case-item-img img {
        max-height: 176px;
    }


    /*  saidbar-nav  */
    .saidbar-nav {
        padding: 20px;
        background: #FFFFFF;
        -webkit-box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin-bottom: 2.5rem;
    }
    .saidbar-nav__item {
        padding: 14px 0;
    }
    .saidbar-nav__item:not(:last-child) {
        border-bottom: 1px solid #EFEFEF;
    }
    .saidbar-nav__detals {
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        display: none;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .saidbar-nav__detals a {
        font-size: 12px;
        line-height: 189%;
        color: #212121;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    .saidbar-nav__detals a:hover {
        text-decoration: none;
        color: #D2A060;
    }
    .saidbar-nav__prev {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        cursor: pointer;
    }
    .saidbar-nav__prev span {
        max-width: 90%;
        font-size: 14px;
        line-height: 16px;
        color: #212121;
        font-weight: 600;
    }
    .saidbar-nav__prev img {
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }


    /* Активное состояние навигации сайдбара */
    .active-nav-saidbar .saidbar-nav__prev {
        padding-bottom: 1rem;
    }
    .active-nav-saidbar .saidbar-nav__prev img {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    .active-nav-saidbar .saidbar-nav__detals {
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}
@media screen and (min-width: 359px) {
    .catalog__card .card-product .catalog-3-case .case {
        -ms-flex-preferred-size: 145px;
        flex-basis: 145px;
    }
}
@media screen and (min-width: 480px) {
    .catalog__card .card-product .case {
        padding: 10px 15px 15px 15px;
    }
    .catalog__card .card-product .catalog-3-case .case {
        -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
    }
    .catalog__card .card-product .flex-basic-2-3 {
        padding: 10px 0 15px 15px;
        -ms-flex-preferred-size: 66% !important;
        flex-basis: 66% !important;
    }
    .catalog__card .card-product .flex-basic-2-3 .case-item .wrp__case-item-content {
        -ms-flex-preferred-size: 42%;
        flex-basis: 42%;
    }
    .catalog__card .card-product .flex-basic-3-3 .case-item .wrp__case-item-content {
        -ms-flex-preferred-size: 42%;
        flex-basis: 42%;
    }
    .catalog__card .card-product .catalog-2-case .add-serv .wrp__case-item-content {
        padding: 0 15px 15px 15px;
    }

    .nav-elem__item a {
        padding: 10px 15px;
    }

    /* Доставка */
    .baner-deliv {
        padding: 31px;
    }
    .baner-deliv:after {
        position: absolute;
        z-index: 0;
        content: url("/www/images/catalog/delivery/deliv-icon.png");
        right: 0;
        bottom: -7px;
    }
    .baner-deliv:before {
        position: absolute;
        z-index: -1;
        content: url("/www/images/catalog/coupon/before.png");
        right: 25px;
        bottom: -7px;
    }

    /* Скидка */
    .baner-sale {
        padding: 40px 31px;
    }
}
@media screen and (min-width: 767px) {
    /* Общие стили */
    .content {
        padding: 2.5rem 0;
    }

    /* Каталог */
    .catalog {
        margin-bottom: 3.75rem;
    }
    .catalog__title h1 {
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        color: #212121;
        margin-bottom: 0;
    }

    /* Купон на скидку */
    /* Моб версия */
    .baner-coupon p {
        line-height: 32px;
    }

    .wrp__group-saidbar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 2.5rem;
    }

    /* Доставка */
    .baner-deliv {
        -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
        margin-bottom: 0;
    }

    /* Скидка */
    .baner-sale {
        -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
        margin-bottom: 0;
    }
    .baner-sale:after {
        right: 25px;
    }
    .baner-sale:before {
        right: 10px;
    }

    /* Каталог. Карточки товара */
    .catalog__card .card-product {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .catalog__card .card-product .wrp__case {
        max-width: 100%;
    }
    .catalog__card .card-product .case {
        padding: 10px 15px 20px 15px;
        margin-bottom: 0;
    }
    .catalog__card .card-product .case .case-item .wrp__case-item-content .case-item-title {
        max-width: 100%;
    }
    .catalog__card .card-product .case .wrp__case-item-img {
        width: 100%;
    }

    /* Модификации карточек. из 2х - 3х - 6 кейсов*/
    /* Черз классы catalog-2-case catalog-3-case и т.д */
    .catalog__card .card-product .catalog-3-case .case {
        margin-bottom: 1.5rem;
        -ms-flex-preferred-size: 31%;
        flex-basis: 31%;
    }
    .catalog__card .card-product .catalog-3-case .case .wrp__case-item-img img {
        margin: 0 auto;
    }
    .catalog__card .card-product .flex-basic-2-3 .case-item .wrp__case-item-img {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
    }
    .catalog__card .card-product .flex-basic-2-3 .case-item .wrp__case-item-content {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    }
    .catalog__card .card-product .flex-basic-3-3 .case-item .wrp__case-item-img {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
        text-align: end;
    }
    .catalog__card .card-product .flex-basic-3-3 .case-item .wrp__case-item-img img {
        margin: 0 auto;
    }

    .catalog__card .card-product .catalog-2-case .add-serv .wrp__case-item-img img {
        max-height: 150px;
    }
}
@media screen and (min-width: 1200px) {
    .catalog .nav-elem .nav-elem__list {
        height: auto;
    }
    .catalog .nav-elem .nav-elem__list:after {
        content: none;
    }
    .catalog .nav-elem .nav-elem__link {
        display: none;
    }

    .catalog .card-product {
        padding: 20px;
        -webkit-box-orient: initial;
        -webkit-box-direction: initial;
        -ms-flex-direction: initial;
        flex-direction: initial;
    }
    .catalog .card-product:after {
        content: none;
    }
    .catalog .card-product .wrp__case {
        -webkit-box-orient: initial;
        -webkit-box-direction: initial;
        -ms-flex-direction: initial;
        flex-direction: initial;
        -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    }
    .catalog .card-product .content {
        -ms-flex-preferred-size: 37%;
        flex-basis: 37%;
    }
    .catalog .card-product .content .wrp_sale {
        text-align: start;
    }
    .catalog__card .card-product .catalog-2-case .case {
        -ms-flex-preferred-size: 49%;
        flex-basis: 49%;
    }
    .catalog__card .card-product .catalog-3-case .case {
        -ms-flex-preferred-size: 32%;
        flex-basis: 32%;
    }
    .catalog__card .card-product .catalog-2-case .case .case-item .wrp__case-item-img {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }
    .catalog__card .card-product .catalog-3-case .case .case-item .wrp__case-item-img {
        -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
        order: -1;
    }
    .catalog__card .card-product .catalog-3-case .flex-basic-2-3 .case-item .wrp__case-item-img {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
    }
    .catalog__card .card-product .catalog-3-case .flex-basic-3-3 .case-item .wrp__case-item-img {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 0;
    }

    .nav-elem__item a {
        padding: 5px 15px;
    }

    .breadcrumbs a {
        display: inline-block;
        padding-bottom: 2px;
        border-bottom: 1px solid rgba(108, 108, 117, 0.3);
    }
    /*  saidbar  */
    .baner-coupon {
        padding: 30px 20px;
        margin-bottom: 2.5rem;
    }
    .baner-coupon:after {
        right: -45px;
    }
    .baner-coupon:before {
        right: -35px;
    }
    .wrp__group-saidbar {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .baner-deliv {
        margin-bottom: 20px;
        padding: 30px 20px;
    }
    .baner-deliv:after {
        right: -60px;
    }
    .baner-deliv:before {
        right: -40px;
    }
    .baner-sale {
        padding: 30px 20px;
    }
    .baner-sale:before {
        right: -30px;
    }
    .baner-sale:after {
        right: -20px;
    }
}