@media screen and (min-width: 320px){
    /* catalog-category */
    .catalog-category .wrp__saidbar-nav {
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }
    .catalog-category .wrp__saidbar-nav .catalog__nav-pre {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 13px 24px;
        background: #FFFFFF;
        margin-bottom: 2rem;
        border-radius: 10px;
    }
    .catalog-category .wrp__saidbar-nav .catalog__nav-pre .catalog__nav-pre-title h4 {
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: #212121;
        margin-bottom: 0;
    }

    .catalog-category .wrp__saidbar-nav .saidbar-nav {
        display: none;
        padding: 0px 26px 16px 26px;
        transition: all 0.3s;
    }

    .catalog-category .wrp__saidbar-nav .catalog__nav-pre .catalog__nav-pre-arrow {
        transition: all 0.3s;
    }

    /* Активное состояние меню каталога */
    .catalog-category .active .catalog__nav-pre {
        border-radius: 10px 10px 0 0;
        margin-bottom: 0;
        border-bottom: 1px solid #EFEFEF;
        box-shadow: none;
    }
    .catalog-category .active .catalog__nav-pre-arrow {
        transform: rotate(-180deg);
    }
    .catalog-category .active .saidbar-nav {
        display: block;
        border-radius: 0 0 10px 10px;
        box-shadow: none;
    }

    .card-detail {
        margin-bottom: 3rem;
    }
    .card-detail .card-product {
        display: flex;
        justify-content: space-between;
        padding: 10px;
    }
    .card-detail .content-title h2 {
        font-size: 16px;
    }
    .card-detail .card-product .content-descript {
        margin-bottom: 1rem;
        margin-right: 0;
    }
    .card-detail .card-product .specifications {
        margin-bottom: 0.5em;
    }
    .card-detail .card-product .content {
        flex-basis: 48%;
        padding-right: 5px;
    }
    .card-detail .card-product .case {
        flex-basis: 48%;
        margin-bottom: 0;
        padding: 0;
    }
    .card-detail .card-product .case .case-item {
        justify-content: center;
    }

    .card-detail .card-product .wrp__case-item-img {
        width: 100%;
        text-align: right;
    }
    .card-detail .card-product .wrp__case-item-img img {
        margin-top: 0;
    }

    .card-detail .card-product .wrp__group-mob {
        flex-direction: column;
    }

/*  Популярные продукты  */
    .popular-products {

    }
    .popular-products__title {
        margin-bottom: 1.3rem;
    }
    .popular-products__title h2 {
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: #212121;
    }
    .popular-product__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .popular-product__item {
        background: #F4EFE6;
        border-radius: 10px;
        flex-basis: 47%;
        padding: 12px 10px 20px 10px;
        margin-bottom: 2rem;
    }
    .popular-product__image {
        background: white;
        border-radius: 10px;
        text-align: center;
        margin-bottom: 1rem;
    }
    .popular-product__content {
        padding: 0 10px;
    }
    .popular-product__content-title {
        margin-bottom: 8px;
    }
    .popular-product__content-title h3 {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: #212121;
        margin-bottom: 0;
    }
    .popular-product__content-text {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }
    .popular-product__content-text span {
        font-size: 12px;
        line-height: 20px;
        color: #212121;
    }
    .popular-product__content-text span:not(:last-child) {
        margin-bottom: 4px;
    }

    .popular-product__content-btn a {
        display: inline-block;
        position: relative;
        padding: 8px 20px 8px 40px;
        background: #48A941;
        border-radius: 5px;
        font-weight: bold;
        font-size: 13px;
        line-height: 18px;
        color: #FFFFFF;
    }
    .popular-product__content-btn a:after {
        content: url("../images/icons/pop-product-icon-btn.svg");
        position: absolute;
        left: 19px;
        top: 8px;
    }

/*  Доп информация  */
    .card-info {
        margin-bottom: 1.5rem;
    }
    .card-info__title {
        margin-bottom: 1rem;
    }
    .card-info__title h2 {
        font-weight: bold;
        font-size: 18px;
        line-height: 21px;
        color: #212121;
    }
    .card-info__text p {
        font-size: 14px;
        line-height: 20px;
        color: #212121;
        margin-bottom: 1rem;
    }
    .card-info__text p:last-child {
        margin-bottom: 0;
    }

    .card-info__down {
        margin-bottom: 3.1rem;
    }
    .card-info__down-title {
        margin-bottom: 12px;
    }
    .card-info__down-title h3 {
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
        color: #212121;
    }
    .card-info__down-item {
        margin-bottom: 2px;
    }
    .card-info__down-item:last-child {
        margin-bottom: 0;
    }
    .card-info__down-item a {
        display: inline-block;
        position: relative;
        padding-left: 12px;
        font-size: 13px;
        line-height: 15px;
        color: #C07E29;
    }
    .card-info__down-item a:after {
        position: absolute;
        content: '';
        width: 3px;
        height: 3px;
        background: #C07E29;
        left: 0;
        top: calc(50% - 2px);
    }

    /*  Таблица  */
    .card-table {
        margin-bottom: 3.1rem;
        overflow-x: auto;
    }
    .card-table table thead {
        background: #C07E29;
    }
    .card-table table thead th {
        width: 76px;
        position: relative;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #FFFFFF;
        padding: 12px;
    }
    .card-table table thead th:not(:last-child):after {
        position: absolute;
        right: 0;
        top: 12px;
        content: '';
        width: 1px;
        height: 70%;
        background: #CD9854;
    }
    .card-table table tbody td {
        width: 76px;
        position: relative;
        padding: 12px 0;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #212121;
    }
    .card-table table tbody td:not(:last-child):after {
        position: absolute;
        right: 0;
        top: 10px;
        content: '';
        width: 1px;
        height: 60%;
        background: #DFDBD2;
    }
    .card-table table tbody tr:nth-child(odd) {
        background: #F4EFE6;
    }

}
