/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@media screen and (min-width: 320px) {
    /* Часть 1 */
    .wrp__design-option .design-option:not(:last-child) {
        margin-bottom: 4rem;
    }
    .design-option__title {
        margin-bottom: 1rem;
    }
    .design-option__title h3 {
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        color: #212121;
        margin-bottom: 0;
    }
    .design-option__item {
        background: #FFFFFF;
        -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 30px 20px;
    }
    .design-option__login .wrp__input-form {
        margin-bottom: 20px;
    }
    .design-option__login .wrp__form-btn button {
        font-size: 1rem;
        padding: 18px 5px 18px 5px;
    }
    .design-option__login {
        padding-bottom: 1rem;
        border-bottom: 1px solid #EFEFEF;
    }
    .design-option__desc {
        padding-top: 1.6rem;
    }
    .desc-title {
        margin-bottom: 1rem;
    }
    .desc-title p {
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
        color: #212121;
        margin-bottom: 0;
    }
    .desc-title a {
        color: #C07E29;
    }
    .desc-list ul li {
        position: relative;
        font-style: italic;
        font-size: 12px;
        line-height: 14px;
        color: #6C6C75;
        padding-left: .7rem;
    }
    .desc-list ul li:after {
        content: '';
        position: absolute;
        left: 0;
        top: 5px;
        width: 3px;
        height: 3px;
        background: #6C6C75;
        border-radius: 50%;
    }
    .desc-list ul li:not(:last-child) {
        margin-bottom: .5rem;
    }
    .design-option__tooltip {
        position: relative;
        padding-left: .7rem;
        margin-top: 1rem;
    }
    .design-option__tooltip p {
        font-family: Ubuntu-L, sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        color: #6C6C75;
        margin-bottom: 0;
    }
    .design-option__tooltip a {
        font-size: 12px;
        line-height: 16px;
        color: #6C6C75;
        text-decoration: underline;
    }
    .design-option__tooltip:after {
        content: url("../../www/images/pop-form/pop-form-check.png");
        position: absolute;
        left: -7px;
        top: -4px;
    }

    /* Часть 2 */
    .making-order__title {
        margin-bottom: 1rem;
    }

    .making-order__title h3 {
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        color: #212121;
    }
    .making-order__sub-title {
        margin-bottom: 20px;
    }
    .making-order__sub-title p {
        font-weight: bold;
        font-size: 16px;
        line-height: 18px;
        color: #C07E29;
        margin-bottom: 0;
    }
    .making-order__form {
        margin-bottom: 1.8rem;
        padding-bottom: 1.8rem;
        border-bottom: 1px solid #EFEFEF;
    }
    .making-order__group-mobile {
        margin-bottom: 20px;
    }
    .making-order__content {
        background: #FFFFFF;
        -webkit-box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 20px;
    }
    .wrp-group-input .wrp__input-form:not(:last-child) {
        margin-bottom: 20px;
    }
    .delivery-service {
        margin-bottom: 1.8rem;
        padding-bottom: 1.8rem;
        border-bottom: 1px solid #EFEFEF;
    }
    .delivery__item:not(:last-child) {
        margin-bottom: 10px;
    }
    .delivery__item-desc {
        padding-left: 1.67rem;
    }
    .delivery__item-desc {

    }
    .delivery__item-desc p {
        font-size: 14px;
        line-height: 20px;
        color: #6C6C75;
        margin-bottom: 0;
    }
    .delivery__item-desc p a {
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #C07E29;
    }
    .order-info {
        margin-bottom: 3rem;
    }
    .order-info__table {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 1.8rem;
    }
    .order-info__table .card-table {
        width: 100%;
        margin-bottom: 0;
    }
    .order-info__table .card-table__link li:first-child {
        height: 52px;
    }
    .order-info__table .card-table__link li {
        width: 85px;
    }
    .order-info__table .card-table__link a {
        color: #212121;
    }
    .order-info__desc {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding: 10px 20px 16px 20px;
        background: #F4EFE6;
    }
    .wrp__desc {
        width: 250px;
    }
    .order-info__desc ul {
        margin-bottom: 1.1rem;
    }
    .order-info__desc li, .order-info__desc-total {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .order-info__desc li:not(:last-child) {
        margin-bottom: 8px;
    }
    .order-info__desc p, .order-info__desc span {
        font-family: Ubuntu-L, sans-serif;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        color: #212121;
        margin-bottom: 0;
    }
    .order-info__desc p:first-child {
        width: 40%;
    }
    .order-info__desc p:last-child {
        width: 60%;
        text-align: right;
    }
    .order-info__desc p:last-child, .order-info__desc span:last-child {
        font-weight: 600;
    }
    .order-info__desc-total p, .order-info__desc-total span {
        font-family: Ubuntu-M, sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        color: #212121;
    }
    .order-info__desc-total p:last-child, .order-info__desc-total span:last-child {
        font-weight: 600;
        color: #C07E29;
    }

    .additional-info__comment {
        margin-bottom: 1.7rem;
    }

    .additional-info__comment textarea {
        width: 100%;
        font-family: Ubuntu-L, sans-serif;
        min-height: 162px;
        padding: 15px 20px;
        border: 1px solid #B6B6BA;
        border-radius: 4px;
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        color: #6C6C75;
    }
    .additional-info__btn {
        text-align: center;
    }
    .additional-info__btn button {
        width: 100%;
        max-width: 290px;
        border: none;
        background: #48A941;
        border-radius: 4px;
        padding: 1.1rem;
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
        text-align: center;
        color: #FFFFFF;
        transition: all .3s;
    }
    .additional-info__btn button:hover {
        background: #2F8429;
    }

    /*  making-order__success-form  */
    .making-order__success-form {
        display: none;
        border: 1px solid #EFEFEF;
        border-radius: 10px;
        padding: 3.1rem 1.3rem;
    }
    .success-form__img {
        text-align: center;
        margin-bottom: 1.3rem;
    }
    .success-form__title {
        margin-bottom: 1rem;
        text-align: center;
    }
    .success-form__title p {
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: #212121;
    }
    .success-form__info {
        text-align: center;
    }
    .success-form__info p, .success-form__info span {
        font-family: Ubuntu-L, sans-serif;
        font-weight: 300;
        font-size: 18px;
        color: #212121;
    }


}
@media screen and (min-width: 767px) {
    /* Часть 1 */
    .design-option__login .wrp__form-help {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    /* Часть 2 */
    .making-order__content {
        padding: 1.8rem 1.8rem 3.1rem 1.8rem;
    }
    .making-order__title {

    }
    .making-order__title h3 {
        font-size: 36px;
        line-height: 41px;
    }
    .making-order__sub-title p {
        font-size: 18px;
        line-height: 21px;
    }
    .wrp-group-input {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .making-order__group-mobile {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin-bottom: 1.8rem;
    }
    .wrp-group-input .wrp__input-form {
        -ms-flex-preferred-size: inherit;
        flex-basis: inherit;
    }

    .wrp-group-input .wrp__input-form:not(:last-child) {
        margin-bottom: 0;
    }
    .wrp-group-input .making-order-fio, .wrp-group-input .making-order-tel {
        -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
    }
}
@media screen and (min-width: 1200px) {
    /* Часть 1 */
    .wrp__design-option {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
    .design-option {
        -ms-flex-preferred-size: 48.5%;
        flex-basis: 48.5%;
    }
    .wrp__design-option .design-option:not(:last-child) {
        margin-bottom: 0;
    }
    .order-info__table .card-table__link li:first-child {
        height: 38px;
    }
}